/pictures
__pycache__
BCDataExport.csv
Aguacate_project_filtered.json
database.ini
.env
/priv
/.priv
*.json
signfiles/lambda_function.py
lambda/upload_s3.py
psql/create_json_project.py
/CardanoPython
/backups
/lambda
/signfiles
getfair.session.sql
getfair1.session.sql
ipfs.py
pinata.py
utils.py
results.csv
